doctype html
html
    head
        title GamesROB - Loading
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
        link(rel='stylesheet', href='/common/css/stylesheet.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        // Favicon
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/site.webmanifest')
        link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#071826')
        meta(name='msapplication-TileColor', content='#071927')
        meta(name='theme-color', content='#ffffff')

        meta(name='viewport', content='width=device-width, user-scalable=no')
    body(style="background-color: #132028")
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
        script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js")
        script(src='/common/common.js')
        
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-119532335-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-119532335-1');

        nav.hideNav
            .nav-wrapper
                a.sidenav-trigger.show-on-medium-and-down(data-target='slide-out')
                    i.material-icons menu
                a.brand-logo(onclick="loadPage('/')")
                    img.gamesroblogo(src='/res/GamesROB.png')
                .breadcrumbsWrapper
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a.waves-effect.waves-light(onclick="loadPage('/help/')") #{help}

                    if authenticated
                        for server in mutualServers
                            li
                                a.serverButton.serverButtonMargin.waves-effect.waves-light(onclick="loadPage('#{server.link}')")
                                    img(src=server.icon)
                        li
                            a.serverButton.serverButtonMargin.waves-effect.waves-light(href='https://discordapp.com/oauth2/authorize?client_id=383995098754711555&scope=bot&permissions=347136')
                                img(src="/res/addServerIcon.png")
                        if !isMember
                            li
                                a.waves-effect.waves-light(href='https://discord.gg/xajeDYR') #{joinServer}
                        li
                            div.chip.waves-effect.waves-red
                                img(src=userImageURL)
                                a.black-text #{userName}
                                a.grey-text.text-darken-4 ##{userDiscrim}
                    else
                        li
                            a.waves-effect.waves-light(href='https://discord.gg/8EZ7BEz') #{joinServer}
                        li
                            a.waves-effect.waves-light(href='https://discordapp.com/oauth2/authorize?client_id=383995098754711555&scope=bot&permissions=347136') #{addBot}
                        li
                            a.waves-effect.waves-light.btn.teal(href='https://discordapp.com/api/oauth2/authorize?client_id=383995098754711555&redirect_uri=http%3A%2F%2Fgamesrob.com%2Fdiscordoauth&response_type=code&scope=identify') #{logIn}
        
        ul#slide-out.sidenav
            li
                a.waves-effect.waves-red(onclick="loadPage('/')") GamesROB
            li
                a.waves-effect.waves-red(onclick="loadPage('/help/')") #{help}
            if !isMember
                li
                    a.waves-effect.waves-red(href='https://discord.gg/8EZ7BEz') #{joinServer}
            if authenticated
                li.no-padding
                    ul.collapsible
                        li
                            div.collapsible-header
                                a.waves-effect.waves-red #{myServers}
                            div.collapsible-body
                                ul
                                    for server in mutualServers
                                        li
                                            a.slideOutServerButton.waves-effect.waves-red.black-text(onclick="loadPage('#{server.link}')")
                                                //img.serverButton(src=server.icon)
                                                | #{server.name}
                                    li
                                        a.slideOutServerButton.waves-effect.waves-red(href='https://discordapp.com/oauth2/authorize?client_id=383995098754711555&scope=bot&permissions=347136')
                                            //img.serverButton(src="/res/addServerIcon.png")
                                            | #{addBot}
            else
                li
                    a.waves-effect.waves-red(href='https://discordapp.com/api/oauth2/authorize?client_id=383995098754711555&redirect_uri=http%3A%2F%2Fgamesrob.com%2Fdiscordoauth&response_type=code&scope=identify') #{logIn}
            
        .loadSpinnerWrapper

        .container.mainPage
            | %%MAIN_PAGE%%

        footer.page-footer.teal.accent-4
            .container
                .row
                    .col.l4.s12
                        h5.white-text GamesROB
                        p.grey-text.text-lighten-4 #{gamesROBDescription}
                    .col.l4.offset-l2.s12
                        h5.white-text Links
                        ul
                            li
                                a.grey-text.text-lighten-3(href='https://github.com/GamesROB/Bot') #{githubSource}
                            li
                                a.grey-text.text-lighten-3(href='https://trello.com/b/rdcazEMd/gamesrob') #{trelloPage}
                            li
                                a.grey-text.text-lighten-3(href='https://discordbots.org/bot/GamesROB') #{dblListing}
                            li
                                a.grey-text.text-lighten-3(href='https://discord.gg/8EZ7BEz') #{supportServer}
                            li
                                a(href='https://twitter.com/GamesROBBot')
                                    img.socialmedialink(src='/res/twitter.png')
                                a(href='https://twitter.com/GamesROBBot')
                                    img.socialmedialink(src='/res/facebook.png')
                                a(href='http://instagram.com/games_rob')
                                    img.socialmedialink(src='/res/instagram.png')
            .footer-copyright
                .container
                    a.white-text © 2018 deprilula28
                    br
                    a.white-text Emoji icons provided free by 
                    a.white-text(href='https://www.emojione.com/') EmojiOne
