script
    | var guildName = "#{guildName}"
script(src='/res/js/serverEdit.js')

.row
    .col.s12.m6.l3
        .input-field
            input#prefixInput.white-text.validate(placeholder="g*", value=currentPrefix, type="text")
            label.active(for="prefixInput") Prefix
    .col.s12.m6.l3
        .input-field
            select#dropdownLanguage
                for language in languages
                    option(value=language.code selected=language.selected ? "selected" : undefined) #{language.name}
            label #{languageTranslation}
    for permission in permissions
        .col.s12.m6.l3
            .input-field
                select.permDropdown
                    option(value="default" selected=(permission.curValue == undefined) ? "selected" : undefined) #{defaultTranslation}
                    for role in roles
                        option(value=role.id selected=(permission.curValue == role.id) ? "selected" : undefined) #{role.name}
                label #{permission.name}
.row
    .col.s8.offset-s2.m4.offset-m4.center-align
        a.btn.waves-effect.waves-light.teal#submitButton #{submitButtonName}