script
    | var pageName = "#{pageName}"
script(src='/res/js/wiki.js')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css')
script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')

.row
    .col.hide-on-small-only.m3.l2
        .row
            .col.12
                h5.white-text #{help}
        .row
            .col.s12.fillIndexUL
    .col.s12.m9.l10
        .row.hide-on-med-and-up
            .col.s12.center-align
                a.waves-effect.waves-teal.btn-flat.white-text(onclick="openWikiViewModal()")
                    | #{pageName}
                    i.material-icons arrow_drop_down

                #wikiViewModal.modal.bottom-sheet
                    .modal-content.fillIndexUL.grey.darken-4
                        
        .row
            .col.s12
                .white-text
                    | %%MARKDOWN_TEXT%%

ul#indexUL
    li
        a.waves-effect.waves-teal.white-text.wikiSidebarItem(onclick="loadPage('/help/')", class=(wikiPage == "intro") ? "wikiSidebarItemActive" : "") #{introduction}
    li
        a.waves-effect.waves-teal.white-text.wikiSidebarItem(onclick="loadPage('/help/commands')", class=(wikiPage == "commands") ? "wikiSidebarItemActive" : "") #{commands}
    li.no-padding
        ul.collapsible.wikiCategoryCollapsible
            li(class=(wikiPage == "minesweeper" || wikiPage == "hangman" || wikiPage == "connectfour" || wikiPage == "tictactoe") ? "active" : "")
                div.collapsible-header
                    a.waves-effect.waves-teal.white-text.wikiSidebarItem #{games}
                div.collapsible-body
                    ul
                        li
                            a.white-text.wikiSidebarItem(onclick="loadPage('/help/games/minesweeper')", class=(wikiPage == "minesweeper") ? "wikiSidebarItemActive" : "") #{minesweeper}
                        li
                            a.white-text.wikiSidebarItem(onclick="loadPage('/help/games/hangman')", class=(wikiPage == "hangman") ? "wikiSidebarItemActive" : "") #{hangman}
                        li
                            a.white-text.wikiSidebarItem(onclick="loadPage('/help/games/connectfour')", class=(wikiPage == "connectfour") ? "wikiSidebarItemActive" : "") #{connectFour}
                        li
                            a.white-text.wikiSidebarItem(onclick="loadPage('/help/games/tictactoe')", class=(wikiPage == "tictactoe") ? "wikiSidebarItemActive" : "") #{tictactoe}
    li
        a.waves-effect.waves-teal.white-text.wikiSidebarItem(onclick="loadPage('/help/credits')", class=(wikiPage == "credits") ? "wikiSidebarItemActive" : "") #{credits}
